/* Structure
-------------------------------------------------------------- */
*{
    text-transform: capitalize;
}

.body{
    background-color: #02080d;
    background-image: url(fond.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    color:#fff;
    font-family: Calibri;
    
}


/* Système Solaire
-------------------------------------------------------------- */
/* placer le div totale au centre*/

#systeme_solaire {
    margin: auto;
    width: 800px;
    height: 600px;
}
/* les cercle outour de la soleil*/
.orbite{
	position: absolute;
	border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, 0.2);
    transition: 0.5s;
    z-index: 0;
}

/* Soleil
-------------------------------------------------------------- */

#soleil {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #f1e767;
    box-shadow: 0px 0px 25px 0px #ffe240;
    margin-top: 250px;
    margin-left: 350px;
    transition: 0.5s;
}

/* Mercure
-------------------------------------------------------------- */
/*pour la cercle de la planete mercure*/
#mercure{
    position: absolute;
    width: 150px;
    height: 150px;
    margin-top: 223.5px;
    margin-left: 323.5px;
}
/*les modification de la planete*/
#planete_mercure{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: inset 0 3px 1px rgba(0, 0, 0, 0.4);
    margin-top: 70px;
    margin-left: 70px;
    background-color: #bababa;
    animation: orbite_mercure 2.8s linear infinite;

}

@keyframes orbite_mercure {
        from { transform: rotate(180deg) translateY(-75px);}
        to { transform: rotate(-180deg) translateY(-75px);}
    }


/* Venus
-------------------------------------------------------------- */
/*pour la cercle de la planete mercure*/

#venus{
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: 200px;
    margin-left: 300px;
}
/*les modification de la planete*/

#planete_venus{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #c4966b;
	animation: orbite_venus 7.2s linear infinite;
    box-shadow: inset 0 3px 1px rgba(0, 0, 0, 0.4);
    margin-top: 95px;
    margin-left: 95px;
}

    

    @keyframes orbite_venus {
        from { transform: rotate(180deg) translateY(-100px);}
        to { transform: rotate(-180deg) translateY(-100px);}
    }

    

/* Terre
-------------------------------------------------------------- */

#terre{
    position: absolute;
    width: 250px;
    height: 250px;
    margin-top: 175px;
    margin-left: 275px;
}

#planete_terre{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #499dff;
	animation: orbite_terre 12s linear infinite;
    box-shadow: inset 0 3px 1px rgba(0, 0, 0, 0.4);
    margin-top: 120px;
    margin-left: 120px;
}

    

    @keyframes orbite_terre {
        from { transform: rotate(180deg) translateY(-125px);}
        to { transform: rotate(-180deg) translateY(-125px);}
    }


/* Lune
-------------------------------------------------------------- */

#lune{
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: -6px;
    margin-left: -6px;
}

#astre_lune{
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #c7c7c7;
	animation: orbite_lune 1s linear infinite;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4);
    margin-top: 8px;
    margin-left: 8px;
}

    @keyframes orbite_lune {
        from { transform: rotate(-180deg) translateY(-11px);}
        to { transform: rotate(180deg) translateY(-11px);}
    }

/* Mars
-------------------------------------------------------------- */

#mars{
    position: absolute;
    width: 300px;
    height: 300px;
    margin-top: 150px;
    margin-left: 250px;
    z-index: 3;
}

#planete_mars{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff8341;
	animation: orbite_mars 22.5s linear infinite;
    box-shadow: inset 0 3px 1px rgba(0, 0, 0, 0.4);
    margin-top: 145px;
    margin-left: 145px;
}


    @keyframes orbite_mars {
        from { transform: rotate(180deg) translateY(-150px);}
        to { transform: rotate(-180deg) translateY(-150px);}
    }

/* Astéroïdes
-------------------------------------------------------------- */



@keyframes orbite_asteroides {
        from { transform: rotate(180deg);}
        to { transform: rotate(-180deg);}
    }

/* Jupiter
-------------------------------------------------------------- */

#jupiter{
    position: absolute;
    width: 350px;
    height: 350px;
    margin-top: 125px;
    margin-left: 225px;
    z-index: 2;
}

#planete_jupiter{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #e53b26;
	animation: orbite_jupiter 142.3s linear infinite;
    box-shadow: inset 0 3px 1px rgba(0, 0, 0, 0.4);
    margin-top: 170px;
    margin-left: 170px;
}

    @keyframes orbite_jupiter {
        from { transform: rotate(180deg) translateY(-175px);}
        to { transform: rotate(-180deg) translateY(-175px);}
    }

    

/* Saturne
-------------------------------------------------------------- */

#saturne{
    position: absolute;
    width: 400px;
    height: 400px;
    margin-top: 100px;
    margin-left: 200px;
}

#planete_saturne{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #eadb6c;
	animation: orbite_saturne 353.5s linear infinite;
    box-shadow: inset 0 3px 1px rgba(0, 0, 0, 0.4);
    margin-top: 195px;
    margin-left: 195px;
}


    @keyframes orbite_saturne {
        from { transform: rotate(180deg) translateY(-200px);}
        to { transform: rotate(-180deg) translateY(-200px);}
    }

/* le cercle sur le planete */
#anneau_saturne{
    width: 9px;
    height: 9px;
    border-radius: 8px;
    background: none repeat scroll 0% 0% transparent;
    border: 2.5px solid #6a6836;
    transform: skewY(50deg);
    margin-top: -1.3px;
    margin-left: -1.3px;
}

/* Uranus
-------------------------------------------------------------- */

#uranus{
    position: absolute;
    width: 450px;
    height: 450px;
    margin-top: 75px;
    margin-left: 175px;
}

#planete_uranus{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #80e2ea;
    -webkit-animation: orbite_uranus 1008.2s linear infinite;
	animation: orbite_uranus 1008.2s linear infinite;
    box-shadow: inset 0 3px 1px rgba(0, 0, 0, 0.4);
    margin-top: 220px;
    margin-left: 220px;
}

    @keyframes orbite_uranus {
        from { transform: rotate(180deg) translateY(-225px);}
        to { transform: rotate(-180deg) translateY(-225px);}
    }


/* le cercle sur le planete */

#anneau_uranus{
    width: 9px;
    height: 9px;
    border-radius: 8px;
    background: none repeat scroll 0% 0% transparent;
    border: 2.5px solid #868686;
    transform: skewY(50deg);
    margin-top: -1.3px;
    margin-left: -1.3px;
}

/* Neptune
-------------------------------------------------------------- */

#neptune{
    position: absolute;
    width: 500px;
    height: 500px;
    margin-top: 50px;
    margin-left: 150px;
}

#planete_neptune{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #1038ba;
	animation: orbite_neptune 1977.4s linear infinite;
    box-shadow: inset 0 3px 1px rgba(0, 0, 0, 0.4);
    margin-top: 245px;
    margin-left: 245px;
}

    @keyframes orbite_neptune {
        from { transform: rotate(180deg) translateY(-250px);}
        to { transform: rotate(-180deg) translateY(-250px);}
    }

/* Informations Planètes
-------------------------------------------------------------- */
/* les couleur des titre  */
.titre_info{
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    color: #386077;
    transition: 0.5s;
}

.titre_info:hover{
    color: rgb(223, 216, 5);
    font-size: 22px;
    transition: 0.5s;
}

/* Info Planète */
/* les modification de margin et padding pour les titre de planete*/
#info_mercure{margin-top: 50px;margin-left: 800px;}
#info_venus{margin-top: 75px;margin-left: 800px;}
#info_terre{margin-top: 100px;margin-left: 800px;}
#info_mars{margin-top: 125px;margin-left: 800px;}
#info_jupiter{margin-top: 150px;margin-left: 800px;}
#info_saturne{margin-top: 175px;margin-left: 800px;}
#info_uranus{margin-top: 200px;margin-left: 800px;}
#info_neptune{margin-top: 225px;margin-left: 800px;}
#info_soleil{margin-top: 300px;margin-left: 800px;}
#info_lune{margin-top: 325px;margin-left: 800px;}

/* Info Planète */
#info_mercure:hover ~ #mercure.orbite,
#info_venus:hover ~ #venus.orbite,
#info_terre:hover ~ #terre.orbite,
#info_mars:hover ~ #mars.orbite,
#info_jupiter:hover ~ #jupiter.orbite,
#info_saturne:hover ~ #saturne.orbite,
#info_uranus:hover ~ #uranus.orbite,
#info_neptune:hover ~ #neptune.orbite,
/* Info Astre */
#info_lune:hover ~ #terre #planete_terre #lune.orbite{
    border: 1px solid rgb(223, 255, 64);
    transition: 0.5s;
}

#info_soleil:hover  #soleil{
    height: 110px;
    width: 110px;
    margin-top: 245px;
    margin-left: 345px;
    transition: 0.5s;
}

/* Cadres Informations Planètes
-------------------------------------------------------------- */

/* Cadre Planète */
#cadre_mercure,
#cadre_venus,
#cadre_terre,
#cadre_mars,
#cadre_jupiter,
#cadre_saturne,
#cadre_uranus,
#cadre_neptune,
/* Cadre Astre */
#cadre_soleil,
#cadre_lune,
#cadre_ceinture_asteroides{
    position: absolute;
    width:300px;
    padding:10px;
    background-color: #071924;
    border: 1px solid #24485d;
    border-radius: 3px;
    color:#3a5d72;
    font-size:13px;
    margin-left: -350px;
    transition: all 0.4s;
    opacity: 0;
}

/* page formulaire */
video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
body{
    display: flex;
    justify-content: center ;
    align-items: center;
    min-height: 100vh;
    
}
.wrapper{
    width: 480px;
    background-color: transparent;
    backdrop-filter: blur(1px);
    box-shadow: 0 0 10px rgb(107, 156, 202);
    color: #499dff;
    padding: 30px 40px;

}
h1{
    text-align: center;
    font-size: 36px;
}
.box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px;
}
.box input{
    width:90% ;
    height:100% ;
    background: transparent;
    border: 2px solid gray;
    border-radius: 40px;
    font-size: 16px;
    color: white;
}
::placeholder{
    text-align: center;
    color: rgb(144, 139, 139);
}
i{
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.remember{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin-top: 15px;
    margin-right: 8px;
    margin-bottom: 15px;
    

}
.remember a{
    color: rgb(141, 140, 140);
    text-decoration: none;
}
.remember a:hover{
    text-decoration: underline;
}
.btn{
    margin: 6px;
    width: 98%;
    height: 50px;
    background: #fff;
    outline: none;
    border: none;
    box-shadow: 0 0 10px black;
    border-radius: 40px;
    font-size: 20px;
    font-family: 600;
    color: #868686;
}
.registre{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #868686;

}
.registre p a {
    text-decoration: none;
    font-weight: 600 ;
    color: #74bbe8;
}
p a:hover{
    text-decoration: underline;
    
}
.error {
    color: red;
    font-size: 14p}

.h1{
    text-align: center;
    color: white;
    margin-top: -40%;
}
h2{
    margin-top: -4%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 24px;
    color: #ffffff;
    font-size: 40px;
}
ul {
    list-style-type: none;
    padding: 0;
    text-align: right;
    float: right;
    position: absolute; 
    top: 50%; 
    right: 0; transform: translateY(-50%);
}

li {
    opacity: 0;
    transform: scale(0);
    animation: zoomIn 1s ease-out forwards;
    margin: 10px 0;
    color: #ffffff;
    font-size: 20px;

}

li:nth-child(1) {
    animation-delay: 1ms;
}

li:nth-child(2) {
    animation-delay: 0.5s;
}

li:nth-child(3) {
    animation-delay: 1s;
}

@keyframes zoomIn {
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.h2{
    margin-top: -16%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 24px;
    color: #ffffff;
    font-size: 40px;
}
.p {
    margin-top: -12%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 24px;
    color: #ffffff;
    font-size: 15px;
    animation: special 2s ease-out forwards;

}

@keyframes special {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}








